# Imports

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# Loading and previewing

In [5]:
df = pd.read_csv('../data/cleaned/lagos_real_estate_cleaned.csv')
df.head()

,listing_url,title,location,property_type,beds,baths,status,post-date-absolute,price(millions_NGN),log_price_millions_NGN,...,Private Elevator,Study,Cinema,Garden,Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
0,https://cwlagos.com/property/3-bedroom-apartme...,3 Bedroom Apartment + BQ,Banana Island,Apartment,3.0,3.0,Rent,2025-06-21,30.000,3.401197,...,1,0,1,0,0,0,0,0,0,0
1,https://cwlagos.com/property/terrace-for-sale-...,TERRACE IN BANANA ISLAND IKOYI,Banana Island,Terraced,5.0,5.0,Sale,2025-06-21,3616.925,8.193379,...,0,0,0,0,0,0,0,0,0,0
2,https://cwlagos.com/property/waterfront-land-i...,"Waterfront Land in Banana Island, Ikoyi",Banana Island,land,0.0,0.0,Sale,2025-07-21,3.500,1.252763,...,0,0,0,0,0,0,0,0,0,0
3,https://cwlagos.com/property/waterfront-land-i...,"Waterfront Land in Banana Island, Ikoyi",Banana Island,land,0.0,0.0,Sale,2025-07-21,3.200,1.163151,...,0,0,0,0,0,0,0,0,0,0
4,https://cwlagos.com/property/brand-new-5-bedro...,Brand New 5 Bedroom Semi-Detached House with W...,Banana Island,Semi Detached,5.0,5.0,Sale,2024-11-18,2170.155,7.682554,...,1,0,0,0,1,0,1,0,0,0

In [6]:
df.columns

Index(['listing_url', 'title', 'location', 'property_type', 'beds', 'baths',
       'status', 'post-date-absolute', 'price(millions_NGN)',
       'log_price_millions_NGN', '24hrs Power', '30kva generator',
       '5kva inverter', 'Balcony', 'BQ', 'Car Park', 'CCTV',
       'Children Playground', 'Fitted Bathrooms', 'Fitted Kitchen',
       'Fully Furnished', 'Gated Estate', 'Gym', 'Home Automation',
       'Home Entertainment Unit', 'Jacuzzi', 'Maid's Room', 'Rooftop Terrace',
       'Swimming Pool', 'Walk-in Closet', 'WiFi', 'Golf Course View',
       'Private Elevator', 'Study', 'Cinema', 'Garden', 'Water Front',
       'Private Cinema', 'Water View', 'Football Pitch', 'Tennis Court',
       'Sauna'],
      dtype='object')