In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/raw/lagos_housing_data.csv')

In [3]:
data = pd.DataFrame(data)

In [4]:
data.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
0,"NGN35,000,000",2 Bedroom Maisonette + BQ in Ikoyi,Ikoyi,For Rent,Available for rent,Maisonette,2.0,2.0,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"#35,000,000",4 Bedroom Furnished Apartment + BQ,"Ikoyi, Lagos.",For Rent,Available for rent,Apartment,4.0,4.0,admin-cw,8 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"#900,000,000",Luxury 3 Bedroom Maisonette with BQ,"Ikoyi, Lagos.",For Sale,Available for sale,Maisonette,3.0,3.0,Adeyemi Fowosire,8 months ago,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"N100,000,000",Luxury 5 Bedroom Detached House,"Banana Island, Ikoyi, Lagos.",For Rent,Available for sale,Detached,5.0,5.0,Adeyemi Fowosire,8 months ago,...,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"$1,100,000",Exclusive 4 Bedroom Maisonette with Swimming Pool,"Ikoyi, Lagos.",For Sale,Available for sale,Maisonette,4.0,4.0,Adaeze Ajomiwe,8 months ago,...,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['price_raw', 'title', 'location', 'status', 'availability',
       'property_type', 'beds', 'baths', 'author', 'post-date', 'listing_url',
       '24hrs Power', '30kva generator', '5kva inverter', 'Balcony', 'BQ',
       'Car Park', 'CCTV', 'Children Playground', 'Fitted Bathrooms',
       'Fitted Kitchen', 'Fully Furnished', 'Gated Estate', 'Gym',
       'Home Automation', 'Home Entertainment Unit', 'Jacuzzi', 'Maid's Room',
       'Rooftop Terrace', 'Swimming Pool', 'Walk-in Closet', 'WiFi',
       'Golf Course View', 'Private Elevator', 'Study', 'Cinema', 'Garden',
       'area(sqm)', 'Water Front', 'Private Cinema', 'Water View',
       'Football Pitch', 'Tennis Court', 'Sauna'],
      dtype='object')

In [6]:
# how many total missing values do we have?
total_cells = np.product(data.shape)
total_missing = (data.isnull().sum()).sum()

# percent of data that is missing
(total_missing/total_cells) * 100

61.25042881646655

In [7]:
import pandas as pd

def clean_data(df):
    # Replace all instances of "" with "" in column: 'location'
    df = df.sort_values(['location'])
    df['status'] = df['status'].str.replace("For ", "", case=False, regex=False)
    df['availability'] = df['availability'].str.replace("Available for ", "", case=False, regex=False)
    df['location'] = df['location'].str.replace("Banana Island, Ikoyi, Lagos.", "Banana Island", case=False, regex=False)
    df['title'] = df['title'].str.strip()
    df['location'] = df['location'].str.strip()
    df['status'] = df['status'].str.strip()
    df['availability'] = df['availability'].str.strip()
    df['property_type'] = df['property_type'].str.strip()
    df['author'] = df['author'].str.strip()
    df['post-date'] = df['post-date'].str.strip()
    df['location'] = df['location'].str.replace("Banana Island Road, Ikoyi, Lagos.", "Banana Island", case=False, regex=False)
    df['location'] = df['location'].str.replace("Banana Island, Ikoyi", "Banana Island", case=False, regex=False)
    # Replace all instances of "Agungi, Lekki, Lagos." with "Lekki" in columns: 'listing_url', 'location'
    df['listing_url'] = df['listing_url'].str.replace("Agungi, Lekki, Lagos.", "Lekki", case=False, regex=False)
    df['location'] = df['location'].str.replace("Agungi, Lekki, Lagos.", "Lekki", case=False, regex=False)
    # Replace all instances of "agungi" with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("agungi", "Lekki", case=False, regex=False)
    # Replace all instances of "Ajah" with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("Ajah", "Lekki", case=False, regex=False)
    # Replace all instances of "BANANA ISLAND IKOYI" with "Banana Island" in column: 'location'
    df['location'] = df['location'].str.replace("BANANA ISLAND IKOYI", "Banana Island", case=False, regex=False)
    # Replace all instances of "Alexander road Ikoyi" with "Ikoyi" in column: 'location'
    df['location'] = df['location'].str.replace("Alexander road Ikoyi", "Ikoyi", case=False, regex=False)
    # Replace all instances of "Alpha beach road" with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("Alpha beach road", "Lekki", case=False, regex=False)
    # Replace all instances of "Bourdillon Road, Ikoyi, Lagos." with "Ikoyi" in column: 'location'
    df['location'] = df['location'].str.replace("Bourdillon Road, Ikoyi, Lagos.", "Ikoyi", case=False, regex=False) 
    # Replace all instances of "Chevron, Lekki, Lagos." with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("Chevron, Lekki, Lagos.", "Lekki", case=False, regex=False)
    # Replace all instances of "Chevron toll gate" with "Chevron" in column: 'location'
    df['location'] = df['location'].str.replace("Chevron toll gate", "Chevron", case=False, regex=False)
    # Replace all instances of "Chevron, lekki Lagos State, Nigeria" with "Chevron" in column: 'location'
    df['location'] = df['location'].str.replace("Chevron, lekki Lagos State, Nigeria", "Chevron", case=False, regex=False)
    # Replace all instances of "Ikate Elegushi, Lekki, Lagos." with "Ikate" in column: 'location'
    df['location'] = df['location'].str.replace("Ikate Elegushi, Lekki, Lagos.", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikate, Eti Osa, Lagos State, Nigeria" with "Ikate" in column: 'location'
    df['location'] = df['location'].str.replace("Ikate, Eti Osa, Lagos State, Nigeria", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikate, Lekki, Lagos." with "Ikate" in column: 'location'
    df['location'] = df['location'].str.replace("Ikate, Lekki, Lagos.", "Ikate", case=False, regex=False)
    return df

# Loaded variable 'df' from URI: /Users/mac/Projects/Data Science projects/Lagos-Real-Estate-Market-Analysis/data/raw/lagos_housing_data.csv
df = pd.read_csv(r'/Users/mac/Projects/Data Science projects/Lagos-Real-Estate-Market-Analysis/data/raw/lagos_housing_data.csv')

df_clean = clean_data(df.copy())
df_clean.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
952,"N250,000,000",5-Bedroom Fully Detached Duplex for Sale in Ajah,Lekki,Sale,sale,Detached,2.0,5.0,admin-cw,5 months ago,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1221,"6,000,000",2-Bedroom Apartment,Lekki,Rent,rent,Apartment,2.0,2.0,Peter Ogunremi,6 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,"#170,000,000",Brand New 4 Bedroom Semi-Detached Home with BQ,Lekki,Sale,sale,Semi Detached,4.0,4.0,Peter Ogunremi,10 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,"NGN2,700,000","Prime 6,000SQM Bareland in Ikoyi",Ikoyi,Sale,sale,NaN,NaN,NaN,admin-cw,5 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"1,300,000,000",Beach front property,Lekki,Sale,sale,NaN,NaN,NaN,Peter Ogunremi,7 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_clean.to_csv('../data/cleaned/data_cleaned_v1.csv', index=False)

In [9]:
def clean_data(df_clean):
    # Replace all instances of "Chevron, Lekki-Epe Expressway, Ikota, Eti Osa, Lagos State, Nigeria" with "Chevron" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Chevron, Lekki-Epe Expressway, Ikota, Eti Osa, Lagos State, Nigeria", "Chevron", case=False, regex=False)
    # Replace all instances of "Ibeju Lekki" with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ibeju Lekki", "Lekki", case=False, regex=False)
    # Replace all instances of "Dideolu estate" with "VI" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Dideolu estate", "VI", case=False, regex=False)
    # Replace all instances of "IKoyi, Lagos." with "Ikoyi" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("IKoyi, Lagos.", "Ikoyi", case=False, regex=False)
    # Replace all instances of "Lekki, Lagos State, Nigeria" with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Lekki, Lagos State, Nigeria", "Lekki", case=False, regex=False)
    # Replace all instances of "Ikate, Eti Osa, Lagos State,  Nigeria" with "Ikate" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikate, Eti Osa, Lagos State,  Nigeria", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikate elegushi" with "Ikate" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikate elegushi", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikota, Eti Osa, Lagos State, Nigeria" with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikota, Eti Osa, Lagos State, Nigeria", "Lekki", case=False, regex=False)
    # Replace all instances of "Ikate-Elegushi, Lekki, Lagos." with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikate-Elegushi, Lekki, Lagos.", "Lekki", case=False, regex=False)
    # Replace all instances of "Ikota, Lekki, Lagos." with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikota, Lekki, Lagos.", "Lekki", case=False, regex=False)
    return df_clean

df_clean = clean_data(df_clean.copy())
df_clean.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
952,"N250,000,000",5-Bedroom Fully Detached Duplex for Sale in Ajah,Lekki,Sale,sale,Detached,2.0,5.0,admin-cw,5 months ago,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1221,"6,000,000",2-Bedroom Apartment,Lekki,Rent,rent,Apartment,2.0,2.0,Peter Ogunremi,6 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,"#170,000,000",Brand New 4 Bedroom Semi-Detached Home with BQ,Lekki,Sale,sale,Semi Detached,4.0,4.0,Peter Ogunremi,10 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,"NGN2,700,000","Prime 6,000SQM Bareland in Ikoyi",Ikoyi,Sale,sale,NaN,NaN,NaN,admin-cw,5 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"1,300,000,000",Beach front property,Lekki,Sale,sale,NaN,NaN,NaN,Peter Ogunremi,7 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def clean_data(df_clean):
    df.loc[df['location'].str.contains('Lekki', case=False, regex=True, na=False), 'location'] = 'Lekki'
    df.loc[df['location'].str.contains('Ikoyi', case=False, regex=True, na=False), 'location'] = 'Ikoyi'
    df.loc[df['location'].str.contains('Ikate', case=False, regex=True, na=False), 'location'] = 'Ikate'
    df.loc[df['location'].str.contains('Victoria Island', case=False, regex=True, na=False), 'location'] = 'VI'
    df.loc[df['location'].str.contains('Chevron', case=False, regex=True, na=False), 'location'] = 'Chevron'
    df.loc[df['location'].str.contains('Oniru', case=False, regex=True, na=False), 'location'] = 'Oniru'
    df.loc[df['location'].str.contains('Banana Island', case=False, regex=True, na=False), 'location'] = 'Banana Island'
    df.loc[df['location'].str.contains('Eko Atlantic', case=False, regex=True, na=False), 'location'] = 'Eko Atlantic'
    return df_clean

df_clean = clean_data(df_clean.copy())

In [ ]:
def clean_data(df_clean):
    # Change column type to string for column: 'location'
    df_clean = df_clean.astype({'location': 'string'})
    df_clean.loc[df['location'].str.contains('Osapa',regex = True, case = False, na = False), 'location'] = 'Osapa'
    #df_clean.loc[df['location'].str.contains('Lekki',regex = True, case = False, na = False), 'location'] = 'Lekki'
    # Replace all instances of "Osapa, Lekki, Lagos." with "Osapa" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Osapa, Lekki, Lagos.", "Osapa", case=False, regex=False)
    # Replace all instances of "Osapa London, Lekki, Lagos." with "Osapa" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Osapa London, Lekki, Lagos.", "Osapa", case=False, regex=False)
    # Replace all instances of "Osapa Lekki" with "Osapa" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Osapa Lekki", "Osapa", case=False, regex=False)
    df_clean.loc[df_clean['location'].str.contains('Oniru', regex = True, case = False, na = False), 'location'] = 'Oniru'
    df_clean.loc[df_clean['location'].str.contains('Victoria Island', regex = True, case = False, na = False), 'location'] = 'VI'
    df_clean.loc[df_clean['location'].str.contains('Lekki', regex = True, case = False, na = False), 'location'] = 'Lekki'
    df_clean.loc[df_clean['location'].str.contains('ikoyi', regex = True, case = False, na = False), 'location'] = 'Ikoyi'
    return df_clean

df_clean_1 = clean_data(df_clean.copy())

In [ ]:
def clean_data(df_clean_1):
    # Replace all instances of "Moore rd" with "VI" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("Moore rd", "VI", case=False, regex=False)
    # Replace all instances of "Muri okunola" with "VI" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("Muri okunola", "VI", case=False, regex=False)
    # Replace all instances of "Parkview Estate" with "Ikoyi" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("Parkview Estate", "Ikoyi", case=False, regex=False)
    # Replace all instances of "VGC ikota" with "Ikota" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("VGC ikota", "Ikota", case=False, regex=False)
    # Replace all instances of "off Banana Island" with "Banana Island" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("off Banana Island", "Banana Island", case=False, regex=False)
    # Sort by column: 'location' (descending)
    df_clean_1 = df_clean_1.sort_values(['location'], ascending=[False])
    # Sort by column: 'location' (ascending)
    df_clean_1 = df_clean_1.sort_values(['location'])
    # Replace all instances of "ikate" with "Ikate" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("ikate", "Ikate", case=False, regex=False)
    return df_clean_1

df_clean_2 = clean_data(df_clean_1.copy())
df_clean_2.head()