In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/raw/lagos_housing_data.csv')

In [3]:
data = pd.DataFrame(data)

In [4]:
data.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
0,"NGN35,000,000",2 Bedroom Maisonette + BQ in Ikoyi,Ikoyi,For Rent,Available for rent,Maisonette,2.0,2.0,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"#35,000,000",4 Bedroom Furnished Apartment + BQ,"Ikoyi, Lagos.",For Rent,Available for rent,Apartment,4.0,4.0,admin-cw,8 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"#900,000,000",Luxury 3 Bedroom Maisonette with BQ,"Ikoyi, Lagos.",For Sale,Available for sale,Maisonette,3.0,3.0,Adeyemi Fowosire,8 months ago,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"N100,000,000",Luxury 5 Bedroom Detached House,"Banana Island, Ikoyi, Lagos.",For Rent,Available for sale,Detached,5.0,5.0,Adeyemi Fowosire,8 months ago,...,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"$1,100,000",Exclusive 4 Bedroom Maisonette with Swimming Pool,"Ikoyi, Lagos.",For Sale,Available for sale,Maisonette,4.0,4.0,Adaeze Ajomiwe,8 months ago,...,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325 entries, 0 to 1324
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   price_raw                1318 non-null   object
 1   title                    1325 non-null   object
 2   location                 1317 non-null   object
 3   status                   1317 non-null   object
 4   availability             1279 non-null   object
 5   property_type            1115 non-null   object
 6   beds                     1021 non-null   float64
 7   baths                    1022 non-null   float64
 8   author                   1307 non-null   object
 9   post-date                1325 non-null   object
 10  listing_url              1325 non-null   object
 11  24hrs Power              495 non-null    object
 12  30kva generator          428 non-null    object
 13  5kva inverter            430 non-null    object
 14  Balcony                  437 non-null    object
 15  BQ                       230 non-null    object
 16  Car Park                 515 non-null    object
 17  CCTV                     478 non-null    object
 18  Children Playground      392 non-null    object
 19  Fitted Bathrooms         433 non-null    object
 20  Fitted Kitchen           427 non-null    object
 21  Fully Furnished          50 non-null     object
 22  Gated Estate             484 non-null    object
 23  Gym                      227 non-null    object
 24  Home Automation          418 non-null    object
 25  Home Entertainment Unit  418 non-null    object
 26  Jacuzzi                  371 non-null    object
 27  Maid's Room              222 non-null    object
 28  Rooftop Terrace          372 non-null    object
 29  Swimming Pool            316 non-null    object
 30  Walk-in Closet           419 non-null    object
 31  WiFi                     474 non-null    object
 32  Golf Course View         4 non-null      object
 33  Private Elevator         161 non-null    object
 34  Study                    130 non-null    object
 35  Cinema                   116 non-null    object
 36  Garden                   89 non-null     object
 37  area(sqm)                191 non-null    object
 38  Water Front              30 non-null     object
 39  Private Cinema           112 non-null    object
 40  Water View               35 non-null     object
 41  Football Pitch           6 non-null      object
 42  Tennis Court             8 non-null      object
 43  Sauna                    2 non-null      object
dtypes: float64(2), object(42)
memory usage: 455.6+ KB

In [14]:
data.isnull().sum()

price_raw                     7
title                         0
location                      8
status                        8
availability                 46
property_type               210
beds                        304
baths                       303
author                       18
post-date                     0
listing_url                   0
24hrs Power                 830
30kva generator             897
5kva inverter               895
Balcony                     888
BQ                         1095
Car Park                    810
CCTV                        847
Children Playground         933
Fitted Bathrooms            892
Fitted Kitchen              898
Fully Furnished            1275
Gated Estate                841
Gym                        1098
Home Automation             907
Home Entertainment Unit     907
Jacuzzi                     954
Maid's Room                1103
Rooftop Terrace             953
Swimming Pool              1009
Walk-in Closet              906
WiFi                        851
Golf Course View           1321
Private Elevator           1164
Study                      1195
Cinema                     1209
Garden                     1236
area(sqm)                  1134
Water Front                1295
Private Cinema             1213
Water View                 1290
Football Pitch             1319
Tennis Court               1317
Sauna                      1323
dtype: int64

In [6]:
# how many total missing values do we have?
total_cells = np.product(data.shape)
total_missing = (data.isnull().sum()).sum()

# percent of data that is missing
(total_missing/total_cells) * 100

61.25042881646655