In [242]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [243]:
data = pd.read_csv('../data/raw/lagos_housing_data.csv')

In [244]:
data = pd.DataFrame(data)

In [245]:
data.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
0,"NGN35,000,000",2 Bedroom Maisonette + BQ in Ikoyi,Ikoyi,For Rent,Available for rent,Maisonette,2.0,2.0,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"#35,000,000",4 Bedroom Furnished Apartment + BQ,"Ikoyi, Lagos.",For Rent,Available for rent,Apartment,4.0,4.0,admin-cw,8 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"#900,000,000",Luxury 3 Bedroom Maisonette with BQ,"Ikoyi, Lagos.",For Sale,Available for sale,Maisonette,3.0,3.0,Adeyemi Fowosire,8 months ago,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"N100,000,000",Luxury 5 Bedroom Detached House,"Banana Island, Ikoyi, Lagos.",For Rent,Available for sale,Detached,5.0,5.0,Adeyemi Fowosire,8 months ago,...,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"$1,100,000",Exclusive 4 Bedroom Maisonette with Swimming Pool,"Ikoyi, Lagos.",For Sale,Available for sale,Maisonette,4.0,4.0,Adaeze Ajomiwe,8 months ago,...,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
data.columns

Index(['price_raw', 'title', 'location', 'status', 'availability',
       'property_type', 'beds', 'baths', 'author', 'post-date', 'listing_url',
       '24hrs Power', '30kva generator', '5kva inverter', 'Balcony', 'BQ',
       'Car Park', 'CCTV', 'Children Playground', 'Fitted Bathrooms',
       'Fitted Kitchen', 'Fully Furnished', 'Gated Estate', 'Gym',
       'Home Automation', 'Home Entertainment Unit', 'Jacuzzi', 'Maid's Room',
       'Rooftop Terrace', 'Swimming Pool', 'Walk-in Closet', 'WiFi',
       'Golf Course View', 'Private Elevator', 'Study', 'Cinema', 'Garden',
       'area(sqm)', 'Water Front', 'Private Cinema', 'Water View',
       'Football Pitch', 'Tennis Court', 'Sauna'],
      dtype='object')

In [247]:
# how many total missing values do we have?
total_cells = np.product(data.shape)
total_missing = (data.isnull().sum()).sum()

# percent of data that is missing
(total_missing/total_cells) * 100

61.25042881646655

In [248]:

def clean_data(df):
    # Replace all instances of "" with "" in column: 'location'
    df = df.sort_values(['location'])
    df['status'] = df['status'].str.replace("For ", "", case=False, regex=False)
    df['availability'] = df['availability'].str.replace("Available for ", "", case=False, regex=False)
    df['location'] = df['location'].str.replace("Banana Island, Ikoyi, Lagos.", "Banana Island", case=False, regex=False)
    df['title'] = df['title'].str.strip()
    df['location'] = df['location'].str.strip()
    df['status'] = df['status'].str.strip()
    df['availability'] = df['availability'].str.strip()
    df['property_type'] = df['property_type'].str.strip()
    df['author'] = df['author'].str.strip()
    df['post-date'] = df['post-date'].str.strip()
    df['location'] = df['location'].str.replace("Banana Island Road, Ikoyi, Lagos.", "Banana Island", case=False, regex=False)
    df['location'] = df['location'].str.replace("Banana Island, Ikoyi", "Banana Island", case=False, regex=False)
    # Replace all instances of "Agungi, Lekki, Lagos." with "Lekki" in columns: 'listing_url', 'location'
    df['listing_url'] = df['listing_url'].str.replace("Agungi, Lekki, Lagos.", "Lekki", case=False, regex=False)
    df['location'] = df['location'].str.replace("Agungi, Lekki, Lagos.", "Lekki", case=False, regex=False)
    # Replace all instances of "agungi" with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("agungi", "Lekki", case=False, regex=False)
    # Replace all instances of "Ajah" with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("Ajah", "Lekki", case=False, regex=False)
    # Replace all instances of "BANANA ISLAND IKOYI" with "Banana Island" in column: 'location'
    df['location'] = df['location'].str.replace("BANANA ISLAND IKOYI", "Banana Island", case=False, regex=False)
    # Replace all instances of "Alexander road Ikoyi" with "Ikoyi" in column: 'location'
    df['location'] = df['location'].str.replace("Alexander road Ikoyi", "Ikoyi", case=False, regex=False)
    # Replace all instances of "Alpha beach road" with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("Alpha beach road", "Lekki", case=False, regex=False)
    # Replace all instances of "Bourdillon Road, Ikoyi, Lagos." with "Ikoyi" in column: 'location'
    df['location'] = df['location'].str.replace("Bourdillon Road, Ikoyi, Lagos.", "Ikoyi", case=False, regex=False) 
    # Replace all instances of "Chevron, Lekki, Lagos." with "Lekki" in column: 'location'
    df['location'] = df['location'].str.replace("Chevron, Lekki, Lagos.", "Lekki", case=False, regex=False)
    # Replace all instances of "Chevron toll gate" with "Chevron" in column: 'location'
    df['location'] = df['location'].str.replace("Chevron toll gate", "Chevron", case=False, regex=False)
    # Replace all instances of "Chevron, lekki Lagos State, Nigeria" with "Chevron" in column: 'location'
    df['location'] = df['location'].str.replace("Chevron, lekki Lagos State, Nigeria", "Chevron", case=False, regex=False)
    # Replace all instances of "Ikate Elegushi, Lekki, Lagos." with "Ikate" in column: 'location'
    df['location'] = df['location'].str.replace("Ikate Elegushi, Lekki, Lagos.", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikate, Eti Osa, Lagos State, Nigeria" with "Ikate" in column: 'location'
    df['location'] = df['location'].str.replace("Ikate, Eti Osa, Lagos State, Nigeria", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikate, Lekki, Lagos." with "Ikate" in column: 'location'
    df['location'] = df['location'].str.replace("Ikate, Lekki, Lagos.", "Ikate", case=False, regex=False)
    return df

# Loaded variable 'df' from URI: /Users/mac/Projects/Data Science projects/Lagos-Real-Estate-Market-Analysis/data/raw/lagos_housing_data.csv
df = pd.read_csv(r'/Users/mac/Projects/Data Science projects/Lagos-Real-Estate-Market-Analysis/data/raw/lagos_housing_data.csv')

df_clean = clean_data(df.copy())
df_clean.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
952,"N250,000,000",5-Bedroom Fully Detached Duplex for Sale in Ajah,Lekki,Sale,sale,Detached,2.0,5.0,admin-cw,5 months ago,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1221,"6,000,000",2-Bedroom Apartment,Lekki,Rent,rent,Apartment,2.0,2.0,Peter Ogunremi,6 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,"#170,000,000",Brand New 4 Bedroom Semi-Detached Home with BQ,Lekki,Sale,sale,Semi Detached,4.0,4.0,Peter Ogunremi,10 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,"NGN2,700,000","Prime 6,000SQM Bareland in Ikoyi",Ikoyi,Sale,sale,NaN,NaN,NaN,admin-cw,5 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"1,300,000,000",Beach front property,Lekki,Sale,sale,NaN,NaN,NaN,Peter Ogunremi,7 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
df_clean.to_csv('../data/cleaned/data_cleaned_v1.csv', index=False)

In [250]:
def clean_data(df_clean):
    # Replace all instances of "Chevron, Lekki-Epe Expressway, Ikota, Eti Osa, Lagos State, Nigeria" with "Chevron" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Chevron, Lekki-Epe Expressway, Ikota, Eti Osa, Lagos State, Nigeria", "Chevron", case=False, regex=False)
    # Replace all instances of "Ibeju Lekki" with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ibeju Lekki", "Lekki", case=False, regex=False)
    # Replace all instances of "Dideolu estate" with "VI" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Dideolu estate", "VI", case=False, regex=False)
    # Replace all instances of "IKoyi, Lagos." with "Ikoyi" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("IKoyi, Lagos.", "Ikoyi", case=False, regex=False)
    # Replace all instances of "Lekki, Lagos State, Nigeria" with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Lekki, Lagos State, Nigeria", "Lekki", case=False, regex=False)
    # Replace all instances of "Ikate, Eti Osa, Lagos State,  Nigeria" with "Ikate" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikate, Eti Osa, Lagos State,  Nigeria", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikate elegushi" with "Ikate" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikate elegushi", "Ikate", case=False, regex=False)
    # Replace all instances of "Ikota, Eti Osa, Lagos State, Nigeria" with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikota, Eti Osa, Lagos State, Nigeria", "Lekki", case=False, regex=False)
    # Replace all instances of "Ikate-Elegushi, Lekki, Lagos." with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikate-Elegushi, Lekki, Lagos.", "Lekki", case=False, regex=False)
    # Replace all instances of "Ikota, Lekki, Lagos." with "Lekki" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Ikota, Lekki, Lagos.", "Lekki", case=False, regex=False)
    return df_clean

df_clean = clean_data(df_clean.copy())
df_clean.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
952,"N250,000,000",5-Bedroom Fully Detached Duplex for Sale in Ajah,Lekki,Sale,sale,Detached,2.0,5.0,admin-cw,5 months ago,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1221,"6,000,000",2-Bedroom Apartment,Lekki,Rent,rent,Apartment,2.0,2.0,Peter Ogunremi,6 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,"#170,000,000",Brand New 4 Bedroom Semi-Detached Home with BQ,Lekki,Sale,sale,Semi Detached,4.0,4.0,Peter Ogunremi,10 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,"NGN2,700,000","Prime 6,000SQM Bareland in Ikoyi",Ikoyi,Sale,sale,NaN,NaN,NaN,admin-cw,5 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"1,300,000,000",Beach front property,Lekki,Sale,sale,NaN,NaN,NaN,Peter Ogunremi,7 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [251]:
def clean_data(df_clean):
    df.loc[df['location'].str.contains('Lekki', case=False, regex=True, na=False), 'location'] = 'Lekki'
    df.loc[df['location'].str.contains('Ikoyi', case=False, regex=True, na=False), 'location'] = 'Ikoyi'
    df.loc[df['location'].str.contains('Ikate', case=False, regex=True, na=False), 'location'] = 'Ikate'
    df.loc[df['location'].str.contains('Victoria Island', case=False, regex=True, na=False), 'location'] = 'VI'
    df.loc[df['location'].str.contains('Chevron', case=False, regex=True, na=False), 'location'] = 'Chevron'
    df.loc[df['location'].str.contains('Oniru', case=False, regex=True, na=False), 'location'] = 'Oniru'
    df.loc[df['location'].str.contains('Banana Island', case=False, regex=True, na=False), 'location'] = 'Banana Island'
    df.loc[df['location'].str.contains('Eko Atlantic', case=False, regex=True, na=False), 'location'] = 'Eko Atlantic'
    return df_clean

df_clean = clean_data(df_clean.copy())

In [252]:
def clean_data(df_clean):
    # Change column type to string for column: 'location'
    df_clean = df_clean.astype({'location': 'string'})
    df_clean.loc[df['location'].str.contains('Osapa',regex = True, case = False, na = False), 'location'] = 'Osapa'
    #df_clean.loc[df['location'].str.contains('Lekki',regex = True, case = False, na = False), 'location'] = 'Lekki'
    # Replace all instances of "Osapa, Lekki, Lagos." with "Osapa" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Osapa, Lekki, Lagos.", "Osapa", case=False, regex=False)
    # Replace all instances of "Osapa London, Lekki, Lagos." with "Osapa" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Osapa London, Lekki, Lagos.", "Osapa", case=False, regex=False)
    # Replace all instances of "Osapa Lekki" with "Osapa" in column: 'location'
    df_clean['location'] = df_clean['location'].str.replace("Osapa Lekki", "Osapa", case=False, regex=False)
    df_clean.loc[df_clean['location'].str.contains('Oniru', regex = True, case = False, na = False), 'location'] = 'Oniru'
    df_clean.loc[df_clean['location'].str.contains('Victoria Island', regex = True, case = False, na = False), 'location'] = 'VI'
    df_clean.loc[df_clean['location'].str.contains('Lekki', regex = True, case = False, na = False), 'location'] = 'Lekki'
    df_clean.loc[df_clean['location'].str.contains('ikoyi', regex = True, case = False, na = False), 'location'] = 'Ikoyi'
    return df_clean

df_clean_1 = clean_data(df_clean.copy())

In [253]:
def clean_data(df_clean_1):
    # Replace all instances of "Moore rd" with "VI" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("Moore rd", "VI", case=False, regex=False)
    # Replace all instances of "Muri okunola" with "VI" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("Muri okunola", "VI", case=False, regex=False)
    # Replace all instances of "Parkview Estate" with "Ikoyi" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("Parkview Estate", "Ikoyi", case=False, regex=False)
    # Replace all instances of "VGC ikota" with "Ikota" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("VGC ikota", "Ikota", case=False, regex=False)
    # Replace all instances of "off Banana Island" with "Banana Island" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("off Banana Island", "Banana Island", case=False, regex=False)
    # Sort by column: 'location' (descending)
    df_clean_1 = df_clean_1.sort_values(['location'], ascending=[False])
    # Sort by column: 'location' (ascending)
    df_clean_1 = df_clean_1.sort_values(['location'])
    # Replace all instances of "ikate" with "Ikate" in column: 'location'
    df_clean_1['location'] = df_clean_1['location'].str.replace("ikate", "Ikate", case=False, regex=False)
    df_clean_1.loc[df_clean_1['location'].str.contains('ikate', regex = True, na = False, case = False), 'location'] = 'Ikate'
    df_clean_1.loc[df_clean_1['location'].str.contains('ikota', regex = True, na = False, case = False), 'location'] = 'Lekki'
    df_clean_1.loc[df_clean_1['location'].str.contains('orchid', regex = True, na = False, case = False), 'location'] = 'Chevron'
    return df_clean_1

df_clean_2 = clean_data(df_clean_1.copy())

In [254]:
df_clean_2['location'].nunique()

8

In [255]:
df_clean_2['location'].value_counts()

location
Lekki            374
Ikoyi            369
VI               254
Oniru            129
Ikate             86
Osapa             47
Banana Island     39
Chevron           19
Name: count, dtype: Int64

In [256]:
df_clean_2.to_csv('../data/cleaned/data_cleaned_v2.csv', index =False)

In [257]:
df_clean_2.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Study,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
290,"#30,000,000",3 Bedroom Apartment + BQ,Banana Island,Rent,rent,Apartment,3.0,3.0,admin-cw,5 months ago,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,$2500000,TERRACE IN BANANA ISLAND IKOYI,Banana Island,Sale,sale,Terraced,5.0,5.0,admin-cw,5 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,"NGN3,500,000","Waterfront Land in Banana Island, Ikoyi",Banana Island,Sale,sale,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,"NGN3,200,000","Waterfront Land in Banana Island, Ikoyi",Banana Island,Sale,sale,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,"$1,500,000",Brand New 5 Bedroom Semi-Detached House with W...,Banana Island,Sale,sale,Semi Detached,5.0,5.0,Rose,1 year ago,...,NaN,NaN,NaN,NaN,True,NaN,True,NaN,NaN,NaN

 ## fixing the pricing

In [258]:
df_clean_2['price_raw'].info()

<class 'pandas.core.series.Series'>
Index: 1325 entries, 290 to 1203
Series name: price_raw
Non-Null Count  Dtype
--------------  -----
1318 non-null   object
dtypes: object(1)
memory usage: 20.7+ KB

In [259]:
df_clean_2['price_raw'] = df_clean_2['price_raw'].astype(str)

In [260]:
# confirming the currency type for prices with the # sign
df_clean_2[df_clean_2['price_raw'].str.contains('#', na=False)]['listing_url'].head()

290    https://cwlagos.com/property/3-bedroom-apartme...
399    https://cwlagos.com/property/land-measuring-tw...
312    https://cwlagos.com/property/1-bedroom-apartment/
404    https://cwlagos.com/property/1-bedroom-apartment/
408    https://cwlagos.com/property/luxury-5-bedroom-...
Name: listing_url, dtype: object

In [261]:
# confirmed from the samples that the listings with # are in Nigerian Naira
# now, replacing them

df_clean_2['price_raw'] = df_clean_2['price_raw'].str.replace('#', 'NGN ', regex=False)
df_clean_2['price_raw'] = df_clean_2['price_raw'].str.replace('N', 'NGN ', regex=False)

In [262]:
# preparing to convert the $ prices to Naira
usd_mask = df['price_raw'].str.contains('$', na=False, regex=False) # created a temporary mask for the $ prices
print(f'{usd_mask.sum()} listings have prices in $')

73 listings have prices in $

In [263]:
# converting the usd prices to numeric fromt the mask
usd_prices = (df_clean_2.loc[usd_mask, 'price_raw']
                  .str.replace('$', '', regex=False)
                  .str.replace(',', '', regex=False)
                  .astype(float)
              )

In [264]:
# Applying the conversion rate
conversion_rate = 1446.77
converted_prices = usd_prices * conversion_rate

In [265]:
# updating the original dataframe with the converted prices
df_clean_2.loc[usd_mask, 'price_raw'] = converted_prices.astype(str)

In [266]:
# confirming the price column
test_mask = df_clean_2['price_raw'].str.contains('NGN', na=False, regex=False)
print(f'{test_mask.sum()} listings have prices in Naira')

1064 listings have prices in Naira

In [267]:
# checking the values that still have issues
df[~test_mask]['price_raw'].head()

/var/folders/rr/bq788s793lj_d9_kkdn7gqrr0000gn/T/ipykernel_24119/1950238057.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~test_mask]['price_raw'].head()

4     $1,100,000
28       $700000
32       $600000
41        $60000
51       $300000
Name: price_raw, dtype: object

In [268]:
# removing the str and creating the new column
df_clean_2['price(NGN)'] = (df_clean_2['price_raw']
                        .str.replace('NGN ', '', regex=False)
                        .str.replace('$', '', regex=False)
                        .str.replace(',', '', regex=False)
                        .str.replace('G', '', regex=False)
                      )

In [269]:
df_clean_2['price_raw'].head()

290    NGN GNGN  30,000,000
276            3616925000.0
394      NGN GNGN 3,500,000
395      NGN GNGN 3,200,000
369            2170155000.0
Name: price_raw, dtype: object

In [270]:
df_clean_2['price(NGN)'].head()

290        30000000
276    3616925000.0
394         3500000
395         3200000
369    2170155000.0
Name: price(NGN), dtype: object

In [271]:
df_clean_2['price(NGN)'] = pd.to_numeric(df_clean_2['price(NGN)'], errors='coerce')

In [272]:
# handling the Nan values
df_clean_2['price(NGN)'].isna().sum()

26

In [273]:
df_clean_2[df_clean_2['price(NGN)'].isna()][['price(NGN)', 'price_raw', 'listing_url', 'property_type']]

,price(NGN),price_raw,listing_url,property_type
398,NaN,nan,https://cwlagos.com/property/land-measuring-60...,NaN
1130,NaN,"NGN GNGN 700,000/sqm",https://cwlagos.com/property/3000sqm-land-with...,NaN
1131,NaN,"NGN GNGN 700,000/sqm",https://cwlagos.com/property/2280-513sqm-land-...,NaN
1246,NaN,"NGN GNGN 700,000/sqm",https://cwlagos.com/property/2280-513sqm-land-...,NaN
1245,NaN,"NGN GNGN 700,000/sqm",https://cwlagos.com/property/3000sqm-land-with...,NaN
390,NaN,nan,https://cwlagos.com/property/two-plots-of-land...,NaN
316,NaN,"NGN GNGN 3,000,000/sqm",https://cwlagos.com/property/4395-sqm-corner-p...,NaN
155,NaN,nan,https://cwlagos.com/property/two-plots-of-land...,NaN
335,NaN,"NGN GNGN 2,500,000/sqm",https://cwlagos.com/property/3-plots-measuring...,NaN
920,NaN,nan,https://cwlagos.com/property/land-measuring-80...,NaN
1136,NaN,"NGN GNGN 250,000/sqm",https://cwlagos.com/property/47sqm-commercial-...,Commercial Space
1137,NaN,"NGN GNGN 220,000/sqm",https://cwlagos.com/property/94sqm-commercial-...,Commercial Space
1008,NaN,nan,https://cwlagos.com/property/3-bedroom-apartme...,Apartment
964,NaN,Price on Request,https://cwlagos.com/property/rooftop-restauran...,Commercial Space
1098,NaN,Call for Price,https://cwlagos.com/property/furnished-2-bedro...,Apartment
1038,NaN,"NGN GNGN 650,000 per sqm",https://cwlagos.com/property/892sqm-773sqm-102...,NaN
1043,NaN,"NGN GNGN 800,000,000NGN GNGN 800,000,000",https://cwlagos.com/property/3-bedroom-fully-d...,Detached
704,NaN,"NGN GNGN 132,000/sqm",https://cwlagos.com/property/spacious-471-sqm-...,Commercial Space
795,NaN,"NGN GNGN 132,000/sqm",https://cwlagos.com/property/spacious-471-sqm-...,Commercial Space
951,NaN,nan,https://cwlagos.com/property/7-bedroom-fully-d...,Detached
1128,NaN,Call for Price,https://cwlagos.com/property/very-spacious-5-b...,Detached
1285,NaN,"NGN GNGN 300,000,000NGN GNGN 300,000,000",https://cwlagos.com/property/functional-4-bedr...,Semi Detached
1290,NaN,Call for Price,https://cwlagos.com/property/very-spacious-5-b...,Detached
1088,NaN,"NGN GNGN 300,000,000NGN GNGN 300,000,000",https://cwlagos.com/property/functional-4-bedr...,Semi Detached
1274,NaN,nan,https://cwlagos.com/property/4-bedroom-fully-d...,Detached
638,NaN,Call for Price,https://cwlagos.com/property/off-plan-5-bedroo...,Penthouse

In [274]:
df_clean_2[df_clean_2['price(NGN)'].isna()]['listing_url'].head()

398     https://cwlagos.com/property/land-measuring-60...
1130    https://cwlagos.com/property/3000sqm-land-with...
1131    https://cwlagos.com/property/2280-513sqm-land-...
1246    https://cwlagos.com/property/2280-513sqm-land-...
1245    https://cwlagos.com/property/3000sqm-land-with...
Name: listing_url, dtype: object

In [275]:
# after my review, i determined that the nan price cols are either lands or don't have any price at all and awill be irrelevant for the anlysis so i droppd them
df_clean_2 = df_clean_2.dropna(subset=['price(NGN)'])
df_clean_2['price(NGN)'].isna().sum()

0

In [276]:
df_clean_2.head()

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,Cinema,Garden,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna,price(NGN)
290,"NGN GNGN 30,000,000",3 Bedroom Apartment + BQ,Banana Island,Rent,rent,Apartment,3.0,3.0,admin-cw,5 months ago,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+07
276,3616925000.0,TERRACE IN BANANA ISLAND IKOYI,Banana Island,Sale,sale,Terraced,5.0,5.0,admin-cw,5 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.616925e+09
394,"NGN GNGN 3,500,000","Waterfront Land in Banana Island, Ikoyi",Banana Island,Sale,sale,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.500000e+06
395,"NGN GNGN 3,200,000","Waterfront Land in Banana Island, Ikoyi",Banana Island,Sale,sale,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.200000e+06
369,2170155000.0,Brand New 5 Bedroom Semi-Detached House with W...,Banana Island,Sale,sale,Semi Detached,5.0,5.0,Rose,1 year ago,...,NaN,NaN,NaN,True,NaN,True,NaN,NaN,NaN,2.170155e+09

### Standardizing the price column based on it's distribution

In [277]:
df_clean_2['price(NGN)'].describe()

count    1.299000e+03
mean     7.161680e+08
std      2.782509e+09
min      3.000000e+04
25%      2.000000e+07
50%      8.000000e+07
75%      5.000000e+08
max      5.208372e+10
Name: price(NGN), dtype: float64

our data is heavily rightly skewed, so we will use the median for our analysis
we'll be handling it by combining scaling and log transform

In [278]:
df_clean_2['price(millions_NGN)'] = df_clean_2['price(NGN)'] / 1_000_000

In [279]:
#applying log transformt to the price in a new column so it's good for visualization
df_clean_2['log_price_millions_NGN'] = np.log(df_clean_2['price(millions_NGN)'])

In [280]:
df_clean_2[[ 'price_raw','price(NGN)','price(millions_NGN)', 'log_price_millions_NGN']].head()

,price_raw,price(NGN),price(millions_NGN),log_price_millions_NGN
290,"NGN GNGN 30,000,000",3.000000e+07,30.000,3.401197
276,3616925000.0,3.616925e+09,3616.925,8.193379
394,"NGN GNGN 3,500,000",3.500000e+06,3.500,1.252763
395,"NGN GNGN 3,200,000",3.200000e+06,3.200,1.163151
369,2170155000.0,2.170155e+09,2170.155,7.682554

In [281]:
df_clean_2.describe(include='all')

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna,price(NGN),price(millions_NGN),log_price_millions_NGN
count,1299,1299,1291,1292,1256,1100,1011.000000,1012.000000,1283,1299,...,177,30,111,35,6,8,2,1.299000e+03,1299.000000,1299.000000
unique,410,942,8,8,3,13,NaN,NaN,13,31,...,137,1,1,1,1,1,1,NaN,NaN,NaN
top,"NGN GNGN 25,000,000",2-Bedroom Apartment,Lekki,Sale,sale,Apartment,NaN,NaN,admin-cw,3 months ago,...,1000 sqm,True,True,True,True,True,True,NaN,NaN,NaN
freq,32,18,366,678,678,441,NaN,NaN,852,182,...,4,30,111,35,6,8,2,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,3.613254,3.612648,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.161680e+08,716.168004,4.478493
std,NaN,NaN,NaN,NaN,NaN,NaN,1.948796,1.949450,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.782509e+09,2782.508827,2.320415
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+04,0.030000,-3.506558
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,3.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+07,20.000000,2.995732
50%,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000e+07,80.000000,4.382027
75%,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+08,500.000000,6.214608
max,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,47.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.208372e+10,52083.720000,10.860608

# handling the categorical cols

In [282]:
df_clean_2.columns

Index(['price_raw', 'title', 'location', 'status', 'availability',
       'property_type', 'beds', 'baths', 'author', 'post-date', 'listing_url',
       '24hrs Power', '30kva generator', '5kva inverter', 'Balcony', 'BQ',
       'Car Park', 'CCTV', 'Children Playground', 'Fitted Bathrooms',
       'Fitted Kitchen', 'Fully Furnished', 'Gated Estate', 'Gym',
       'Home Automation', 'Home Entertainment Unit', 'Jacuzzi', 'Maid's Room',
       'Rooftop Terrace', 'Swimming Pool', 'Walk-in Closet', 'WiFi',
       'Golf Course View', 'Private Elevator', 'Study', 'Cinema', 'Garden',
       'area(sqm)', 'Water Front', 'Private Cinema', 'Water View',
       'Football Pitch', 'Tennis Court', 'Sauna', 'price(NGN)',
       'price(millions_NGN)', 'log_price_millions_NGN'],
      dtype='object')

In [283]:
cat_cols = ['24hrs Power', '30kva generator', '5kva inverter', 'Balcony', 'BQ',
       'Car Park', 'CCTV', 'Children Playground', 'Fitted Bathrooms',
       'Fitted Kitchen', 'Fully Furnished', 'Gated Estate', 'Gym',
       'Home Automation', 'Home Entertainment Unit', 'Jacuzzi', "Maid's Room",
       'Rooftop Terrace', 'Swimming Pool', 'Walk-in Closet', 'WiFi',
       'Golf Course View', 'Private Elevator', 'Study', 'Cinema', 'Garden',
       'Water Front', 'Private Cinema', 'Water View',
       'Football Pitch', 'Tennis Court', 'Sauna']

In [284]:
df_clean_2[cat_cols] = df_clean_2[cat_cols].fillna(False).astype(int)
df_clean_2[cat_cols].head()

/var/folders/rr/bq788s793lj_d9_kkdn7gqrr0000gn/T/ipykernel_24119/13785849.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean_2[cat_cols] = df_clean_2[cat_cols].fillna(False).astype(int)

,24hrs Power,30kva generator,5kva inverter,Balcony,BQ,Car Park,CCTV,Children Playground,Fitted Bathrooms,Fitted Kitchen,...,Private Elevator,Study,Cinema,Garden,Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna
290,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
276,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
369,1,1,1,1,0,1,1,1,1,1,...,1,0,0,0,1,0,1,0,0,0

In [285]:
df_clean_2['area(sqm)'].tail()

587     NaN
897     NaN
904     NaN
915     NaN
1203    NaN
Name: area(sqm), dtype: object

In [286]:
df_clean_2['area(sqm)'] = df_clean_2['area(sqm)'].astype(str)
df_clean_2.loc[df['area(sqm)'].str.contains('sqm', na=False, regex=False, case = False), 'area(sqm)'] = ''
df_clean_2.loc[df['area(sqm)'].str.contains('m²', na=False, regex=False, case = False), 'area(sqm)'] = ''
df_clean_2['area(sqm)'] = df['area(sqm)'].str.replace('6 Plots', '3300' )
df_clean_2['area(sqm)'] = df['area(sqm)'].str.replace('2 Plots of 500 sqm', '1000' )

In [287]:
df_clean_2

,price_raw,title,location,status,availability,property_type,beds,baths,author,post-date,...,area(sqm),Water Front,Private Cinema,Water View,Football Pitch,Tennis Court,Sauna,price(NGN),price(millions_NGN),log_price_millions_NGN
290,"NGN GNGN 30,000,000",3 Bedroom Apartment + BQ,Banana Island,Rent,rent,Apartment,3.0,3.0,admin-cw,5 months ago,...,NaN,0,0,0,0,0,0,3.000000e+07,30.000,3.401197
276,3616925000.0,TERRACE IN BANANA ISLAND IKOYI,Banana Island,Sale,sale,Terraced,5.0,5.0,admin-cw,5 months ago,...,NaN,0,0,0,0,0,0,3.616925e+09,3616.925,8.193379
394,"NGN GNGN 3,500,000","Waterfront Land in Banana Island, Ikoyi",Banana Island,Sale,sale,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,0,0,0,0,0,0,3.500000e+06,3.500,1.252763
395,"NGN GNGN 3,200,000","Waterfront Land in Banana Island, Ikoyi",Banana Island,Sale,sale,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,0,0,0,0,0,0,3.200000e+06,3.200,1.163151
369,2170155000.0,Brand New 5 Bedroom Semi-Detached House with W...,Banana Island,Sale,sale,Semi Detached,5.0,5.0,Rose,1 year ago,...,NaN,1,0,1,0,0,0,2.170155e+09,2170.155,7.682554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,723385000.0,Property Available at a Nested Neighborhood in VI,<NA>,Corporate Lease,NaN,NaN,NaN,NaN,admin-cw,4 months ago,...,NaN,0,0,0,0,0,0,7.233850e+08,723.385,6.583942
897,"NGN GNGN 300,000,000",5 BEDROOM FULLY DETACHED DUPLEX |LEKKI,<NA>,Sale,sale,Detached,5.0,5.0,admin-cw,3 months ago,...,NaN,0,0,0,0,0,0,3.000000e+08,300.000,5.703782
904,"NGN GNGN 380,000,000",5 BEDROOM FULLY DETACHED HOME+BQ IN LEKKI,<NA>,Sale,sale,Detached,5.0,5.0,admin-cw,3 months ago,...,NaN,0,0,0,0,0,0,3.800000e+08,380.000,5.940171
915,"NGN GNGN 420,000,000",5 Bedroom Fully Detached Duplex + BQ in Lekki,<NA>,Sale,sale,Detached,5.0,5.0,admin-cw,4 months ago,...,NaN,0,0,0,0,0,0,4.200000e+08,420.000,6.040255
1203,"NGN 170,000,000",Detached Commercial Property for sale,<NA>,commercial,NaN,Detached,4.0,4.0,admin-cw,5 months ago,...,NaN,0,0,0,0,0,0,1.700000e+08,170.000,5.135798

# Handling the rest of the missing values

In [288]:
# how many total missing values do we have?
total_cells = np.product(df_clean_2.shape)
total_missing = (df_clean_2.isnull().sum()).sum()

# percent of data that is missing
(total_missing/total_cells) * 100

3.2267046664373575

In [289]:
df_clean_2.isna().sum()[df_clean_2.isna().sum() > 0]

location            8
status              7
availability       43
property_type     199
beds              288
baths             287
author             16
area(sqm)        1122
dtype: int64

In [290]:
# majority of the area(sqm) column are missing values , so i'd be dropping it
df_clean_2.drop(columns=['area(sqm)'], inplace=True)

In [291]:
# after previewiing the data in datawrangler, i see that the rows with missing 'beds' & 'baths' are mostly lands/shops so i'll fill them with 0
df_clean_2['beds'] = df_clean_2['beds'].fillna(0)
df_clean_2['baths'] =  df_clean_2['baths'].fillna(0)

In [292]:
# replacing all missing authors with unknowm
df_clean_2['author'] = df_clean_2['author'].fillna('unknown')

In [293]:
# replacing all the missing values for property type, of which the title contain land/similar with 'land'
df_clean_2.loc[(df_clean_2['property_type'].isna()) & (df_clean_2['title'].str.contains('land', na=False, case=False, regex=False)), 'property_type'] = 'land'
df_clean_2.loc[(df_clean_2['property_type'].isna()) & (df_clean_2['title'].str.contains('plot', na=False, case=False, regex=False)), 'property_type'] = 'land'
df_clean_2.loc[(df_clean_2['property_type'].isna()) & (df_clean_2['title'].str.contains('sqm', na=False, case=False, regex=False)), 'property_type'] = 'land'

In [294]:
# handling the availability column by ussing the fillna along with an axis
df_clean_2['availability'] = df_clean_2[[ 'status','availability']].ffill(axis=1)['availability']

In [295]:
# handling the status column by ussing the fillna along with an axis
df_clean_2['status'] = df_clean_2[[ 'status','availability']].bfill(axis=1)['status']

In [296]:
# handling all the missing values in the  location column delicately
df_clean_2.loc[(df_clean_2['location'].isna()) & (df_clean_2['listing_url'].str.contains('lekki', na=False, case=False, regex=False)), 'location'] = 'Lekki'
df_clean_2.loc[(df_clean_2['location'].isna()) & (df_clean_2['listing_url'].str.contains('ikoyi', na=False, case=False, regex=False)), 'location'] = 'Ikoyi'
df_clean_2.loc[(df_clean_2['location'].isna()) & (df_clean_2['listing_url'].str.contains('vi', na=False, case=False, regex=False)), 'location'] = 'VI'

In [297]:
# final preview of missigness
df_clean_2.isna().sum()[df_clean_2.isna().sum() > 0]

location          1
property_type    27
dtype: int64

In [298]:
# quick preview of the status/ availbility of the property types that are missing
missing_prop = df_clean_2[df_clean_2['property_type'].isna()].copy()
# Count the occurrences of each unique status in the missing subset
status_counts = missing_prop['status'].value_counts()
print(status_counts)

status
Sale               16
Rent                7
Corporate Lease     2
Short Stays         1
commercial          1
Name: count, dtype: int64

In [299]:
# we see that majority are for sale , so replacing all the 
df_clean_2.loc[(df_clean_2['property_type'].isna()) & (df_clean_2['title'].str.contains('commercial', na=False, case=False, regex=False)), 'property_type'] = 'Commercial Space'
df_clean_2.loc[(df_clean_2['property_type'].isna()) & (df_clean_2['title'].str.contains('bedroom', na=False, case=False, regex=False)), 'property_type'] = 'Apartment'

In [300]:
# quick preview of the status/ availbility of the property types that are missing
missing_prop = df_clean_2[df_clean_2['property_type'].isna()].copy()
# Count the occurrences of each unique status in the missing subset
status_counts = missing_prop['status'].value_counts()
print(status_counts)

status
Sale               8
Rent               1
Corporate Lease    1
Name: count, dtype: int64

In [301]:
# dropping the remaining null values
df_clean_2 = df_clean_2.dropna(subset=['property_type'])

In [302]:
df_clean_2.shape

(1289, 46)

# dropping duplicates

In [303]:
df_clean_2 = df_clean_2.drop_duplicates(subset=['listing_url'], keep='first')

In [304]:
df_clean_2.shape

(1105, 46)